*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  background:#f8fafc;

  overflow-x:hidden;
}

/* =====================================================
   GLOBAL
===================================================== */

body{
  color:#0f172a;
}

/* =====================================================
   LINKS
===================================================== */

a{
  text-decoration:none;

  color:inherit;
}

/* =====================================================
   BUTTONS
===================================================== */

button{
  border:none;

  outline:none;

  font-family:inherit;
}

/* =====================================================
   INPUTS
===================================================== */

input,
textarea,
select{
  font-family:inherit;

  outline:none;
}

/* =====================================================
   IMAGES
===================================================== */

img{
  max-width:100%;

  display:block;
}

/* =====================================================
   SCROLLBAR
===================================================== */

::-webkit-scrollbar{
  width:7px;
  height:7px;
}

::-webkit-scrollbar-thumb{
  background:#cbd5e1;

  border-radius:999px;
}

::-webkit-scrollbar-track{
  background:#f1f5f9;
}

/* =====================================================
   ROOT APP
===================================================== */

#root{
  position:relative;

  isolation:isolate;
}